.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  min-width: 40rem;
  padding-left: 20%;
  padding-right: 20%;
}

.search-bar{
  width: 80%;
}

.search-button {
  min-width: 5rem;
}

.image{
  width: 500px;
  height: 100px;
  padding-bottom: 40px;
}

.button-group{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 40px;
}

.button-group > button {
  margin: 6px;
}
