<app-header>
</app-header>
<div class="search">
  <img class="image" src="assets/images/gitignore_logo.png" alt="image">
  <mat-form-field class="search-bar" appearance="fill">
    <mat-label>search .gitignore</mat-label>
    <mat-chip-list #chipList aria-label="git selection">
      <mat-chip *ngFor="let git of gits" (removed)="remove(git)">
        {{ git }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Search Operating System, IDEs, or Programming Languages"
        #gitInput
        [formControl]="gitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let git of filteredGits | async" [value]="git">
        {{ git }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button class="search-button" mat-raised-button color="primary" (click)="onCreate()">
    Create
  </button>

  <div *ngIf="isCreated" class="button-group">
    <button mat-stroked-button color="primary" (click)="onCopy()">Copy</button>
    <button mat-stroked-button color="primary" (click)="onDownload()">Download</button>
    <button mat-stroked-button color="primary" (click)="onView()">View</button>
  </div>
</div>
